footer {
  background-color: rgba(82, 18, 32, 1);
  color: white;
  text-align: center;
  padding: 1em 0;
  height: 400px;
}
h1 {
  font-size: xx-large;
  font-weight: 500;
}
footer h3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}
footer a {
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration: underline;
  color: white;
}
footer h4 {
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.rights {
  border-top: #ccc 1px solid;
}

.rights p {
  padding: 20px;
}
