<br /><br />
<!-- Header of Form -->
<div class="container">
  <div class="form-container">
    <h1 style="text-align: left">Create your password</h1>
    <p style="text-align: left">
      Lorem ipsum dolor sit amet consectetur adipiscing elit<br />
      sed do eiusmod tempor incididunt ut labore.
    </p>
    <!-- Content of Form -->
    <form
      id="createAccountForm"
      #login_Form="ngForm"
      (ngSubmit)="onSubmit(login_Form)"
    >
      <!-- Issue: Make Password Input The Same Value in Confirm Password Value-->
      <!-- Password -->
      <label for="password">Password</label>
      <input
        type="password"
        id=" password"
        name=" Password"
        placeholder=""
        required
        [(ngModel)]="Re_enter.Password"
        required
        #passwordlInput="ngModel"
        minlength="8"
        maxlength="8"
      />
      <small *ngIf="Re_enter && passwordlInput.invalid && passwordlInput.dirty"
        >Invalid Passowrd Format !</small
      >
      <!-- Confirm Password -->
      <label for="ConfirmPassword">Confirm Password</label>
      <input
        type="password"
        id="ConfirmPassword"
        name="ConfirmPassword"
        placeholder=""
        required
        [(ngModel)]="Re_enter.ConfirmPassword"
        required
        #confirm="ngModel"
        minlength="8"
        maxlength="8"
      />
      <small *ngIf="Re_enter && confirm.invalid && confirm.dirty"
        >Password does not match!</small
      >
      <!-- Continue Button -->
      <button type="submit">Continue</button>
    </form>
    <p>
      The password should be at least eight characters long. To make it
      stronger, use upper and lower case letters, numbers, and symbols like ! "
      ? $ % ^ & ) <a routerLink="/"></a>
    </p>
  </div>
</div>
<!-- Footer -->
<footer>
  <p style="text-align: center">©Speedo Transfer Payments Limited 2024</p>
</footer>
