<div class="transfer">
  <div class="stepper">
    <div
      class="step"
      [ngClass]="{ active: isStepActive(1), completed: isStepCompleted(1) }"
    >
      <div class="circle">01</div>
      <div class="step-title">Amount</div>
    </div>

    <div
      class="step"
      [ngClass]="{ active: isStepActive(2), completed: isStepCompleted(2) }"
    >
      <div class="circle">02</div>
      <div class="step-title">Confirmation</div>
      <div class="line"></div>
    </div>

    <div
      class="step"
      [ngClass]="{ active: isStepActive(3), completed: isStepCompleted(3) }"
    >
      <div class="circle">03</div>
      <div class="step-title">Payment</div>
      <div class="line"></div>
    </div>
  </div>

  <div class="step-content">
    <ng-container [ngSwitch]="currentStep">
      <div *ngSwitchCase="1" class="amount-step">
        <h2>How much are you sending?</h2>
        <p class="amount-rate">Rate guaranteed (2h)</p>
        <h3>{{ recipientAmount }}{{ selectedReceiveCurrency }}</h3>
        <form>
          <div class="form-group">
            <label for="amount">You send</label>
            <div class="input-group">
              <input
                type="number"
                id="amount"
                name="amount"
                [(ngModel)]="amount"
                (ngModelChange)="updateRecipientAmount()"
                placeholder="1000"
              />
              <select
                id="currency-send"
                name="currencySend"
                [(ngModel)]="selectedSendCurrency"
                (ngModelChange)="onSendCurrencyChange($event)"
              >
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="KSR">KSR</option>
                <option value="EGY">EGY</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="recipientAmount">Recipient Gets</label>
            <div class="input-group">
              <input
                type="number"
                id="recipientAmount"
                name="recipientAmount"
                [value]="recipientAmount"
                placeholder="47,488.42"
                readonly
              />
              <select
                id="currency-receive"
                name="currencyReceive"
                [(ngModel)]="selectedReceiveCurrency"
                (ngModelChange)="onReceiveCurrencyChange($event)"
              >
                <option value="EGY">EGY</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="KSR">KSR</option>
              </select>
            </div>
          </div>

          <div class="recipient-info">
            <h4>
              Recipient Information
              <span class="favorite" (click)="toggleFavoriteList()">
                <i class="fa-regular fa-star"></i> Favourite
                <i class="fa-solid fa-angle-right"></i>
              </span>
            </h4>
            <div *ngIf="showFavoriteList" class="modal-overlay">
              <div class="modal-content">
                <div class="modal-header">
                  <h5><i class="fa-regular fa-star"></i> Favourite List</h5>
                  <button class="close" (click)="closeFavoriteList()">×</button>
                </div>
                <div class="modal-body">
                  <ul>
                    <li *ngFor="let favorite of favoriteList">
                      <div class="favorite-item">
                        <div class="bank-icon"></div>
                        <div class="favorite-details">
                          <div class="favorite-name">{{ favorite.name }}</div>
                          <div class="favorite-account">
                            {{ favorite.account }}
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="recipientName">Recipient Name</label>
              <input
                type="text"
                id="recipientName"
                name="recipientName"
                [(ngModel)]="recipientName"
              />
            </div>
            <div class="form-group">
              <label for="recipientAccount">Recipient Account</label>
              <input
                type="text"
                id="recipientAccount"
                name="recipientAccount"
                [(ngModel)]="recipientAccount"
              />
            </div>
          </div>
          <div class="form-actions">
            <button type="button" (click)="setStep(2)">Continue</button>
          </div>
        </form>
      </div>

      <div *ngSwitchCase="2">
        <div class="confirmation-step">
          <h2 class="transfer-amount">
            {{ amount }} {{ selectedSendCurrency }}
          </h2>
          <p class="transfer-details">Transfer amount</p>

          <div class="total-amount">
            <span>Total amount</span>
            <span>{{ recipientAmount }} {{ selectedReceiveCurrency }}</span>
          </div>

          <div class="account-info from-account">
            <div class="account-card">
              <div class="account-icon"></div>
              <div class="account-details">
                <span class="account-label">From</span>
                <span class="account-name">{{ senderName }}</span>
                <span class="account-number">{{ senderAccount }}</span>
              </div>
            </div>
          </div>

          <div class="transfer-icon">
            <i class="fa-solid fa-arrow-right-arrow-left"></i>
          </div>

          <div class="account-info to-account">
            <div class="account-card">
              <div class="account-icon"></div>
              <div class="account-details">
                <span class="account-label">To</span>
                <span class="account-name">{{ recipientName }}</span>
                <span class="account-number">{{ recipientAccount }}</span>
              </div>
            </div>
          </div>

          <div class="button-group">
            <button class="btn btn-confirm" (click)="confirmTransfer()">
              Confirm
            </button>
            <button class="btn btn-back" (click)="setStep(1)">Back</button>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="3" class="payment">
        <div class="success-icon">
          <i class="fa fa-check-circle"></i>
        </div>
        <h2>Your transfer was successful</h2>
        <h2>{{ amount }} {{ selectedReceiveCurrency }}</h2>
        <div class="transfer-details">
          <div class="account-info from-account">
            <div class="account-card">
              <div class="account-icon"></div>
              <div class="account-details">
                <span class="account-label">From</span>
                <span class="account-name">{{ senderName }}</span>
                <span class="account-number">{{ senderAccount }}</span>
              </div>
            </div>
          </div>

          <div class="transfer-icon">
            <i class="fa-solid fa-arrow-right-arrow-left"></i>
          </div>

          <div class="account-info to-account">
            <div class="account-card">
              <div class="account-icon"></div>
              <div class="account-details">
                <span class="account-label">To</span>
                <span class="account-name">{{ recipientName }}</span>
                <span class="account-number">{{ recipientAccount }}</span>
              </div>
            </div>
          </div>

          <div class="detail-row">
            <span class="detail-label">Transfer amount</span>
            <span class="detail-value">
              {{ amount }} {{ selectedReceiveCurrency }}
            </span>
          </div>

          <div class="detail-row">
            <span class="detail-label">Fees</span>
            <span class="detail-value">
              {{ fees }} {{ selectedSendCurrency }}
            </span>
          </div>
        </div>

        <div class="form-actions">
          <button class="btn-primary" (click)="navigateToHome()">
            Back to Home
          </button>
          <button class="btn-secondary" (click)="addToFavourite()">
            Add To Favourite
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
