<br /><br />
<h1 style="text-align: center">Login</h1>
<p
  style="
    font-size: medium;
    font-style: oblique;
    color: rgb(99, 89, 89);
    text-align: center;
  "
>
  New Account ? <a href="/register">Sign Up</a>
</p>
<div class="container">
  <div class="form-container">
    <h1 style="text-align: left">Login Here</h1>
    <p style="text-align: left">Welcome back. Login to your account</p>
    <form
      id="createAccountForm"
      #log_Form="ngForm"
      (ngSubmit)="onSubmit(log_Form)"
    >
      <label for="email">Email Address</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="E-mail Address"
        required
        [(ngModel)]="log.email"
        #emailInput="ngModel"
        email
      />
      <small *ngIf="log_Form && emailInput.invalid && emailInput.dirty">
        Invalid Email Format!
      </small>
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        required
        [(ngModel)]="log.password"
        #passwordInput="ngModel"
        minlength="8"
        maxlength="8"
      />
      <small *ngIf="log_Form && passwordInput.invalid && passwordInput.dirty">
        Invalid Password Format!
      </small>
      <button type="submit" [disabled]="log_Form.invalid">Login</button>
    </form>
    <p>Don’t have an account? <a href="/register">Create Account</a></p>
  </div>
</div>
<footer>
  <p style="text-align: center">©Speedo Transfer Payments Limited 2024</p>
</footer>
