<h1>Speedo Transfer</h1>
<div class="container">
  <div class="form-container">
    <h2>Create Your Account</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod
      tempor incididunt ut labore.
    </p>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
      <label for="fullName">Full Name</label>
      <input
        type="text"
        id="fullName"
        name="fullName"
        placeholder="Full Name"
        required
        [(ngModel)]="user.fullName"
        #fullNameInput="ngModel"
        minlength="3"
        maxlength="30"
        aria-describedby="fullNameError"
      />
      <small
        id="fullNameError"
        *ngIf="fullNameInput.invalid && fullNameInput.dirty"
        class="error-message"
      >
        Full Name must be between 3 and 30 characters long.
      </small>
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Username"
        required
        [(ngModel)]="user.username"
        #usernameInput="ngModel"
        minlength="3"
        maxlength="30"
        aria-describedby="usernameError"
      />
      <small
        id="usernameError"
        *ngIf="usernameInput.invalid && usernameInput.dirty"
        class="error-message"
      >
        Username must be between 3 and 30 characters long.
      </small>
      <label for="phoneNumber">Phone Number</label>
      <input
        type="tel"
        id="phoneNumber"
        name="phoneNumber"
        placeholder="Phone Number"
        required
        [(ngModel)]="user.phoneNumber"
        #phoneNumberInput="ngModel"
        minlength="11"
        maxlength="11"
        aria-describedby="phoneNumberError"
      />
      <small
        id="phoneNumberError"
        *ngIf="phoneNumberInput.invalid && phoneNumberInput.dirty"
        class="error-message"
      >
        Phone Number must be exactly 11 digits long.
      </small>
      <label for="email">Email Address</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Email Address"
        required
        [(ngModel)]="user.email"
        #emailInput="ngModel"
        aria-describedby="emailError"
      />
      <small
        id="emailError"
        *ngIf="emailInput.invalid && emailInput.dirty"
        class="error-message"
      >
        Enter a valid email address.
      </small>
      <label for="gender">Gender</label>
      <select id="gender" name="gender" [(ngModel)]="user.gender" required>
        <option value="" disabled>Select Gender</option>
        <option value="MALE">Male</option>
        <option value="FEMALE">Female</option>
      </select>
      <label for="country">Country</label>
      <select id="country" name="country" [(ngModel)]="user.country" required>
        <option value="" disabled>Select Country</option>
        <option value="EG">Egypt</option>
        <option value="US">United States</option>
        <option value="UK">United Kingdom</option>
      </select>
      <label>Date of Birth</label>
      <div class="dob-container">
        <select id="day" name="day" [(ngModel)]="user.birthDate.day" required>
          <option value="" disabled>DD</option>
          <option *ngFor="let day of days" [value]="day">{{ day }}</option>
        </select>
        <select
          id="month"
          name="month"
          [(ngModel)]="user.birthDate.month"
          required
        >
          <option value="" disabled>Month</option>
          <option *ngFor="let month of months" [value]="month.value">
            {{ month.label }}
          </option>
        </select>
        <select
          id="year"
          name="year"
          [(ngModel)]="user.birthDate.year"
          required
        >
          <option value="" disabled>YYYY</option>
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
      </div>
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="*"
        required
        [(ngModel)]="user.password"
        #passwordInput="ngModel"
        minlength="8"
        maxlength="30"
        aria-describedby="passwordError"
      />
      <small
        id="passwordError"
        *ngIf="passwordInput.invalid && passwordInput.dirty"
        class="error-message"
      >
        Password must be between 8 and 30 characters long.
      </small>
      <label for="confirmPassword">Confirm Password</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        placeholder="*"
        required
        [(ngModel)]="user.confirmPassword"
        #confirmPasswordInput="ngModel"
        minlength="8"
        maxlength="30"
        aria-describedby="confirmPasswordError"
      />
      <small
        id="confirmPasswordError"
        *ngIf="confirmPasswordInput.invalid && confirmPasswordInput.dirty"
        class="error-message"
      >
        Passwords must match.
      </small>
      <button type="submit" [disabled]="userForm.invalid">
        Create Account
      </button>
    </form>

    <p style="text-align: center">
      Already have an account? <a routerLink="/login">Login</a>
    </p>
  </div>
</div>
<footer>
  <p style="text-align: center">© Speedo Transfer Payments Limited 2024</p>
</footer>
