* {
  overflow: hidden;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

h1 {
  font-size: 24px;
  margin: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #6c757d;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
small {
  color: #ff0000;
  text-align: left;
  font-size: medium;
}
button:disabled {
  color: #ffffff;
  background-color: #6c757d;
}

label {
  text-align: left;
  font-weight: bold;
}

input,
select {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  width: 92%;
}

.dob-container {
  display: flex;
  gap: 10px;
}

.password-hint {
  font-size: 12px;
  color: #6c757d;
  text-align: left;
}

form button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #bd1e24;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

a {
  color: #bd1e24;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 8px;
  gap: 8px;
  position: absolute;
  width: 1495.5px;
  height: 20px;
  left: 0px;
  bottom: -700px;
  background: #f3e9eb;
}

.error-message {
  color: red;
  font-size: 0.875em;
}
.start {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.close-page {
  margin: 10px;
  width: 30px;
  height: 30px;
  font-size: xx-large;
  background-color: #fff;
  border: #fff;
  cursor: pointer;
}
