<div class="mobile-app">
  <div class="img"></div>
  <div class="content">
    <h3>Mobile Application</h3>
    <pre class="paragraph">
Download our apps of your
mobile phone for service</pre
    >
    <pre>
Lorem Ipsum is simply dummy text of the printing and typesetting 
industry. Lorem Ipsum has been the industry's standard dummy</pre
    >
    <ul>
      <li class="list">
        <i class="arrow fa-regular fa-circle-right"></i> Lorem Ipsum is simply
        dummy 
      </li>
      <li class="list">
        <i class="arrow fa-regular fa-circle-right"></i> Lorem Ipsum is simply
        dummy text of the printing  
      </li>
      <li class="list">
        <i class="arrow fa-regular fa-circle-right"></i> Lorem Ipsum is simply 
      </li>
    </ul>
    <div class="links">
      <div class="download">
        <a href="" class="link"
          ><i class="fa-brands fa-apple"></i>
          <div class="text">
            <p class="first">Download on the</p>
            <p class="name">App Store</p>
          </div></a
        >
      </div>
      <div class="download">
        <a href="" class="link"
          ><i class="fa-brands fa-google-play"></i>
          <div class="text">
            <p class="first">GET IT ON</p>
            <p class="name">Google Play</p>
          </div></a
        >
      </div>
    </div>
  </div>
</div>
