<div class="profile-container">
  <div class="sidebar">
    <div
      class="first"
      [class.active]="currentSection === 'profile'"
      (click)="setSection('profile')"
    >
      My profile
    </div>
    <div
      class="menu-item"
      [class.active]="currentSection === 'payments-history'"
      (click)="setSection('payments-history')"
    >
      Payments history
    </div>
    <div
      class="menu-item"
      [class.active]="currentSection === 'settings'"
      (click)="setSection('settings')"
    >
      Settings
    </div>
    <div
      class="menu-item"
      [class.active]="currentSection === 'change-password'"
      (click)="setSection('change-password')"
    >
      Change password
    </div>
  </div>
  <div class="profile-details">
    <div *ngIf="currentSection === 'profile'">
      <h1>My Profile</h1>
      <h3>
        {{ userProfile.balance }}$ <span class="balance-label">Balance</span>
      </h3>
      <div class="detail">
        <span>First Name :</span> {{ userProfile.fullName }}
      </div>
      <div class="detail"><span>Email :</span> {{ userProfile.email }}</div>
      <div class="detail"><span>Phone :</span> {{ userProfile.phone }}</div>
      <div class="detail"><span>Gender :</span> {{ userProfile.gender }}</div>
    </div>

    <div *ngIf="currentSection === 'payments-history'" class="payment">
      <h1>Payments History</h1>
      <div *ngIf="payments.length; else noPayments">
        <div *ngFor="let payment of payments" class="payment-item">
          <div class="account-info">
            <div>Account Number: {{ payment.accountNumber }}</div>
            <i class="copy fa-regular fa-copy"></i>
          </div>
          <div class="details">
            <div>Account Details</div>
            <div>Total Price : {{ payment.amount }}USD</div>
          </div>
          <div class="recipient-name">
            <div>Recipient Name</div>
            <div>{{ payment.recipientName }}</div>
          </div>
        </div>
      </div>
      <ng-template #noPayments>
        <p>No payment history available.</p>
      </ng-template>
    </div>
    <div *ngIf="currentSection === 'settings'">
      <h1>Settings</h1>
      <div class="settings-form">
        <div class="tabs">
          <div
            class="tab"
            [class.active]="settingsTab === 'profile'"
            (click)="setSettingsTab('profile')"
          >
            Profile
          </div>
          <div
            class="tab"
            [class.active]="settingsTab === 'change-password'"
            (click)="setSettingsTab('change-password')"
          >
            Change password
          </div>
        </div>
        <div class="form-content">
          <div *ngIf="settingsTab === 'profile'">
            <form>
              <div class="form">
                <div class="form-group">
                  <label for="username">User name</label>
                  <input
                    type="text"
                    id="username"
                    [(ngModel)]="userProfile.username"
                    name="username"
                  />
                </div>
                <div class="form-group">
                  <label for="lastname">Last name</label>
                  <input
                    type="text"
                    id="lastname"
                    [(ngModel)]="userProfile.lastName"
                    name="lastname"
                  />
                </div>
              </div>
              <div class="form">
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input
                    type="text"
                    id="phone"
                    [(ngModel)]="userProfile.phone"
                    name="phone"
                  />
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="text"
                    id="email"
                    [(ngModel)]="userProfile.email"
                    name="email"
                  />
                </div>
              </div>
              <button type="button" (click)="updateProfile()">
                Update Profile
              </button>
            </form>
          </div>
          <div *ngIf="settingsTab === 'change-password'">
            <form>
              <div class="form">
                <div class="form-group">
                  <label for="current-password">Current Password</label>
                  <input
                    type="password"
                    id="current-password"
                    [(ngModel)]="changePassword.current"
                    name="current-password"
                    placeholder="Type here"
                  />
                </div>
                <div class="form-group">
                  <label for="new-password">New Password</label>
                  <input
                    type="password"
                    id="new-password"
                    [(ngModel)]="changePassword.new"
                    name="new-password"
                    placeholder="Type here"
                  />
                </div>
              </div>
              <button type="button" (click)="changeUserPassword()">
                Change Password
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
